.card:hover {
    box-shadow: 0 0 2px 1px #96FFF2;
    /* cursor: pointer; */
}

/* .card-title:hover .card-text:hover .card-footer:hover {
    cursor: unset;
} */

.card {
    max-width : 22rem;
    color : white;
    margin-right : 2vw;
    background: none;
    border : none;
    border-radius: 10px;    
    min-height: 50vh;
}

.card-body {
    padding-left: 10px;
    padding-right: 10px;
}

.card-img-top {
    object-position : top;
    object-fit : cover;
    width : 100%;
    height : 50%;
    border-radius: 10px;
}

#company {
    color: grey;
}

.card-footer {
    background : none;
    border : none;
    padding-left: 10px;
    padding-right: 10px;
    display:table!important;
}

.footer-link {
    padding : 0 10px 0 0;
    /* top:50%;
    transform: translateY(-50%);
    position: relative; */
    display:table-cell!important;
    vertical-align:middle;
}

.tech {
    float : right;
    margin-left: 10px;
    background-color: #456f6a;
    padding: 10px;
    margin-top: unset;
    border-radius: 15px;
    /* font-size: 1vw; */
}